<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <title>대나무 프로젝트</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div id="nav" class="col-md-3">
      <a href='/about'><img id="logo" src="img/logo2.png" width="30" height="30"> Dénamu</a>
      <a href='/cryout'>말하기</a>
      <a href='/forest'>대나무숲</a>
      <a href='https://twitter.com/denamu3'>트위터</a>
    </div>

    <div style="margin-left: 15%; margin-right:15%; top: 10vh;padding:1.5em; background-color:#fff;" class="col-md-8">
      <!-- <img id="logo" src="img/logo.png" width="100" height="100"> -->
      <h2 style="color:#3f3f3f; font-family: 'hanS', arial, serif;">대나무 프로젝트</h2>
      <p style="color:#3f3f3f;">
        대나무 프로젝트는 예전부터 전해내려오는 "임금님 귀는 당나귀귀"라는 이야기를 바탕으 한국의 며느리들의 화병을 달래주기위해 만들어진 플랫폼입니다.</p>
      <p>
        "임금님 귀는 당나귀귀"는 임금님의 비밀을 알고있는 한 이발사의 이야기 입니다. 당나귀의 귀처럼 커다란 귀를 갖고있는 임금님은 자신의 귀를 들키지 않기위해 항상 커다란 모자를 푹 눌러쓰고 다녔으나 그의 비밀을 알고있는 한 사람, 임금님의 머리카락을 다듬어주는 이발사가 있었습니다. 임금님은 이발사에게 비밀을 지키도록 명했고 이를 발설할시 죽음을 면치 못할 것이라고 했습니다. 누구에게 말도 못하고 비밀을 간직해야했던 이발사는 혼자 속이 끓다가 결국 속이 답답해지고 배가 불룩 튀어나오는 병에 걸리고 맙니다.</p>
      <p>
        의사에게 찾아간 이발사는 약 대신 아무도 없는 곳에서 하고싶은 이야기를 모두 하라는 처방을 받고, 지시대로 인적이 드문 대나무밭에 가서 "임금님귀는 당나귀귀!"하고 외칩니다. 그랬더니 이발사의 속병은 10년묵은 채증이 가라앉은듯 나았다는 이야기 입니다.</p>
      <p>
        충남대학교 심리학과 교수인 전우영 교수의 글에 의하면 미국에서도 분노 증후군을 'hwa-byung' 이라고 기술할 정도로 한국인에게서 주로 발생하는 것으로 알려져 있으며 이의 원인은 억울함을 풀지 못하고 억누르기 때문이라고 합니다. 화병이 깊어지면 불면증, 피로, 소화불량, 호흡곤란이 나타날 수 있으며 정신적으로 불안함 우울함, 공황 등이 생길 수 있다고 합니다. 이야기 속의 이발사도 답답함에 배가 불룩 튀어나오는 증장을 보였고 이는 그가 화병에 걸렸다는것을 보여줍니다. 그가 하고 싶은 말을 꾹꾹 억누르면서 참았기 때문이죠.</p>
      <p>
        한국 사회가 많이 변하였다고 하지만 아직도 하고싶은말을 억누르며 살아가는 한국의 며느리들이 많이 있습니다. 누군가의 부인, 며느리라는 이유로 남편과 똑같이 직장이 있어도 본인보다 남편의 끼니를 챙겨야하며 나이들기 전에 아이를 낳고 길러야 하고, 집안의 살림은 도맡아해야하고, 직장은 그만두라는 눈칫밥을 먹으며 시어머니 말을 따라야하는 풍습이 아직도 고스란히 남아있기 때문입니다. 며느리들의 고생은 당연한것이고 이들이 힘든 내색을 하거나 본인의 의견이 조금만 뚜렷해도 이기적인 부인 또는 버릇없는 나쁜 며느리로 낙인찍힙니다.</p>
      <p>
        물론 서로 존중할줄 아는 훌륭한 아내와 남편, 며느리와 시어머니도 많습니다. 하지만 과거의 잔해가 남아있는것 또한 사실입니다. 이러한 원인으로 인해 한국의 며느리들이 앓고있는 화병을 인터렉티브 아트로 달래고 설치미술로 승화시켜보고자 대나무 프로젝트를 만들게 되었습니다. 대나무 프로젝트는 어느곳에 하소연도 하지 못한채 혼자 속을 끓이고 있는 며느리들이 속 시원하게 하고싶을 말을 털어내고 이를 익명으로 공유할 수 있도록 만든 온라인 공간입니다. 모든 참여자들의 글은 본 사이트와 대나무 프로젝트 트위터에 실시간으로 개시되며, 이후 설치미술로 만들어질 것입니다.</p>
      <p>
        <em>공지사항<br>
        대나무 프로젝트를 통해 속 시원하게 억울함을 떨치되 기본적 인터넷 예절과 타읜의 사생활이나 인권을 침해하는 글은 삼가하여주시고 모든 글은 익명 또는 닉네임으로 올려주시기 바랍니다. 또한 본 사이트에 글을 개시하실때에는 글의 내용은 본 프로젝트와 추후 설치미술의 내용으로 사용될 수 있도록 동의하시는 것임을 미리 알려드립니다.<em>
      </p>
    </div>

  </body>

  <!-- JQuery script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</html>
